<ion-header>
  <ion-toolbar color="primary">
    <ion-title>forgetpassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetPwdForm" (submit)='resetUserPwd()'>
    <ion-item>
      <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
    </ion-item>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center">
        <ion-button type="submit" (click)='resetUserPwd()'>Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>@ToDo-list</ion-title>
  </ion-toolbar>
</ion-footer>